
<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Determinate Progressbar
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Indeterminate Progressbar
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Query Progressbar
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Buffer Progressbar
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
      </mat-expansion-panel>
  </mat-accordion><br>
  <mat-divider></mat-divider>
  <h2 style="color:white">Hobbies</h2>
  <mat-chip-listbox aria-label="Hobbies selection">
    <mat-chip-option selected>Playing Cricket</mat-chip-option>
    <mat-chip-option *ngFor="let h of Hobbies" [color]="h.color">
      {{h.name}}
    </mat-chip-option>
  </mat-chip-listbox><br>
  <mat-divider></mat-divider>
  <mat-list>
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{folder.name}}</div>
      <div matListItemLine>{{folder.updated | date}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{note.name}}</div>
      <div matListItemLine>{{note.updated | date}}</div>
    </mat-list-item>
  </mat-list>
        
  
    




