<form class="form" #registerForm="ngForm"
    (ngSubmit)="registerForm.form.valid && submitdata(user)" novalidate>
<div class="row">
   <div class="form-group col-md-6">

      <input type="text" class="form-control"  placeholder="Enter name" id="username" name="username" required [(ngModel)]="user.UserName" #username="ngModel">
      <div *ngIf="username.invalid && (username.dirty || username.touched)"> 
         <div style="color:red" *ngIf="username.errors?.['required']">
                Name is required.
         </div>
      </div>
  </div>

  <div class="form-group col-md-6">

      <input type="text" id="mobileno" class="form-control" name="mobileno" [class.is-invalid]="mobileno.invalid && mobileno.touched"  placeholder="Enter Mobile" pattern="^((\\+91-?)|0)?[0-9]{10}$" [(ngModel)]="user.UserMobileNumber" required minlength="10" maxlength="10" #mobileno="ngModel">
      <div *ngIf="mobileno.invalid && (mobileno.dirty || mobileno.touched)"> 
        <div style="color:red" *ngIf="mobileno.errors?.['required']">
               MobileNo is required.
        </div>
        <div *ngIf="mobileno.errors?.['pattern']">
             Mobile No is invalid.
          </div>
     </div>
  </div>
</div><br>

<div class="form-group">

    <input type="text" id="address" name="address" class="form-control"  placeholder="Enter Address" required [(ngModel)]="user.UserAddress" #address="ngModel">
    <div *ngIf="address.invalid && (address.dirty || address.touched)"> 
        <div style="color:red" *ngIf="address.errors?.['required']">
               Address is required.
        </div>
     </div>
</div><br>
<div class="form-group">
    <input type="email" id="email" name="email" class="form-control" [class.is-invalid]="email.invalid && email.touched"  placeholder="Enter Mail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required [(ngModel)]="user.UserMailId" #email="ngModel">
    <div *ngIf="email.invalid && (email.dirty || email.touched)"> 
        <div style="color:red" *ngIf="email.errors?.['required']">
            Email is required.
        </div>
        <div style="color:red" *ngIf="email.errors?.['pattern']">
            Email is invalid.
        </div>
     </div>
</div>
<br>

  <div class="d-grid">

      <button class="btn btn-success btn-lg btn-block">Submit</button>

  </div><br>

  <div class="d-grid">

      <button class="btn btn-warning btn-lg btn-block" (click)="reset()">Reset</button>

  </div>
 </form>







