.numberBackColor{
    color: white;
}
.blue {
    color: blue
  }
  .yellow {
    color: yellow
  }
  .silver {
    color: silver
  }
  .red {
    color: red
  }
  .grey {
    color: grey
  }
